/*  INDEX
	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

	01. FONT-FACE
	02. VARIÁVEIS
	03. MODERN NORMALIZE (v3.0.1)
	04.	ELEMENTOS ESTRUTURAIS
	05.	TIPOGRAFIA
	06. ELEMENTOS INTERATIVOS
	07.	ÍCONES SVG
	08.	NAVEGAÇÃO
	09.	GRIDS
	10. CARDS
	11. LAYOUTS DE PÁGINA
	12. PROJETOS
	13. POSTS
	14. PÁGINAS
	15. COLEÇÕES
	16.	RODAPÉ
	17. SPLASH
	18. ACCORDION
	19. TRAPAÇA
*/


/*	#region  ■■■  01. FONT-FACE  .......................................................... */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

@font-face {
	font-family: 'Degular';
	src: url('../assets/fonts/Degular-Regular.woff2') format('woff2'),
		url('../assets/fonts/Degular-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Degular';
	src: url('../assets/fonts/Degular-Medium.woff2') format('woff2'),
		url('../assets/fonts/Degular-Medium.woff') format('woff');
	font-weight: normal;
	font-style: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Degular';
	src: url('../assets/fonts/Degular-SemiBold.woff2') format('woff2'),
		url('../assets/fonts/Degular-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Degular';
	src: url('../assets/fonts/Degular-Bold.woff2') format('woff2'),
		url('../assets/fonts/Degular-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Minion Pro';
	src: url('../assets/fonts/MinionPro-It.woff2') format('woff2'),
		url('../assets/fonts/MinionPro-It.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Minion Pro';
	src: url('../assets/fonts/MinionPro-MediumIt.woff2') format('woff2'),
		url('../assets/fonts/MinionPro-MediumIt.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Minion Pro';
	src: url('../assets/fonts/MinionPro-SemiboldIt.woff2') format('woff2'),
		url('../assets/fonts/MinionPro-SemiboldIt.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Minion Pro';
	src: url('../assets/fonts/MinionPro-BoldIt.woff2') format('woff2'),
		url('../assets/fonts/MinionPro-BoldIt.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

/*	#endregion */


/*	#region  ■■■  02. VARIÁVEIS  .......................................................... */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

:root {	
	/* Fontes */
	--sans-serif: "Degular", system-ui, sans-serif;
	--serif: "Minion Pro", Georgia, serif;

	/* Escala Tipográfica @ https://utopia.fyi/type/calculator */
	--h1: clamp(2rem, 1.5353rem + 2.3259vw, 4rem);
	--h2: clamp(1.6512rem, 1.3643rem + 1.4344vw, 2.8848rem);
	--h3: clamp(1.3629rem, 1.1961rem + .834vw, 2.0802rem);
	--h4: clamp(1.125rem, 1.0378rem + .436vw, 1.5rem);
	--h5: clamp(.9286rem, .893rem + .1779vw, 1.0816rem);
	--h6: .75rem;
	--p: clamp(1.125rem, 1.0378rem + .436vw, 1.5rem);
	--small: clamp(1.025rem, .9669rem + .2907vw, 1.275rem);
	
	/* Cores que não mudam dependendo do tema */
	--white: #fbfbfb;
	--black: #000;
	--green: #009970;

	/* Definições de grid */ 
	--grid-gutter: 2rem;
	--grid-max-width: 100rem;
	--grid-columns: 12;

	/* Propriedades auxiliares */
	--content-width: 32rem;
	--content-margin: 1.5rem;
	--body-padding: 1.5rem;
	--nav-height: 3.25rem;
	--fluid-padding-h: clamp(1rem, 8%, 4rem);
	--fluid-padding-hero: clamp(0rem, -3.2727rem + 4.5455vw, 4rem);
	--logo-padding-mobile: clamp(2rem, 1.6429rem + 1.7857vw, 2.5rem);
	--logo-padding: calc(clamp(1.5rem, -1.3966rem + 6.0345vw, 5rem) + 1.5rem);
}

/* Tema Claro */
:root[data-theme="light"] {
	--color-background: #fbfbfb;
	--color-foreground: #111;
	--color-accent: #009970;
	--color-accent-reverse: #00ffaa;
	--color-support-lc: #c0c0c0;
	--color-support-hc: #444;
	--color-theme-toggle: #ff7f50;
	--color-unfocused: #fff;
	--color-focused: rgba(0,153,112,.08);
	--color-pulse: rgba(0,153,112,.5);
	--hero-mobile: url("../assets/temp/tokyo.webp");
	--hero-1: url("../assets/temp/tokyo.webp");
	--hero-2: url("../assets/temp/tokyo.webp");
	--hero-3: url("../assets/temp/tokyo.webp");
}

/* Tema Escuro */
:root[data-theme="dark"] {
	--color-background: #111111;
	--color-foreground: #fbfbfb;
	--color-accent: #00ffaa;
	--color-accent-reverse: #009970;
	--color-support-lc: #444;
	--color-support-hc: #c0c0c0;
	--color-theme-toggle: #4682b4;
	--color-unfocused: #1d1d1d;
	--color-focused: rgba(0,255,170,.04);
	--color-pulse: rgba(0,255,170,.5);
	--hero-mobile: url("../assets/temp/fuji.webp");
	--hero-1: url("../assets/temp/fuji.webp");
	--hero-2: url("../assets/temp/fuji.webp");
	--hero-3: url("../assets/temp/fuji.webp");
}

/*  viewport >= 480px */
@media only screen and (min-width: 30em) {
	:root {
		--content-margin: 2rem;
		--body-padding: 2rem;
		--nav-height: 4rem;
	}
}

/*  viewport >= 768px */
@media only screen and (min-width: 50em) {
	:root {
		--content-margin: 3rem;
		--body-padding: 5rem;
	}
}

/*  viewport >= 1152px */
@media only screen and (min-width: 72em) {
	:root {
		--body-padding: 3rem;
	}
}

/*  pros loucos que navegam em modo paisagem no celular */
@media only screen and (max-height: 35em) {
	:root {
		--nav-height: 3.25rem;
	}
}

/*	#endregion */


/*  #region  ■■■  03. RESET (derivado de Modern Normalize v3.0.1)  ........................ */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

*, *::after, *::before {box-sizing: border-box; transition: background-color .3s, color .3s;}
html {font-family: system-ui,'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'; line-height: 1.15; tab-size: 4;}
body {margin: 0;}
b, strong {font-weight: bolder;}
code, kbd, pre, samp {font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace; font-size: 1em;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sub {bottom: -.25em;}
sup {top: -.5em;}
table {border-color: currentcolor;}
button, input, optgroup, select, textarea {font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0;}
button:hover {cursor: pointer;}
[type=button], [type=reset], [type=submit], button {-webkit-appearance: button; appearance: button;}
legend {padding: 0;}
progress {vertical-align: baseline;}
::-webkit-inner-spin-button, ::-webkit-outer-spin-button {height: auto;}
[type=search] {-webkit-appearance: textfield; appearance: textfield; outline-offset: -2px;}
::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button; font: inherit;}
summary {display: list-item;}

/*	#endregion */


/*	#region  ■■■  04. ELEMENTOS ESTRUTURAIS  .............................................. */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

html, body {
	background-color: var(--color-background);
	font-family: var(--sans-serif);
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	padding: 0 var(--body-padding);
	min-height: 100vh;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

main {
	animation: fadeIn .5s ease forwards;
}

section {
	margin: var(--content-margin) 0 var(--nav-height);
}

footer {
	width: 100%;
	margin: 0 auto;
	max-width: var(--grid-max-width);
	overflow: hidden;
	border-top: .0625em solid var(--color-support-lc);
}

/*	#endregion */


/*	#region  ■■■  05. TIPOGRAFIA  ......................................................... */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

h1, h2, h3, h4, h5, h6 {
	color: var(--color-foreground);
	margin: 0 0 calc(var(--p) * 1.4);
	font-weight: bold;
}

h1 {
	font-size: var(--h1);
	letter-spacing: -.01em;
	line-height: .9em;
	text-wrap: balance;
}

h2 {
	font-size: var(--h2);
	letter-spacing: -.01em;
	line-height: .95em;
}

h3 {
	font-size: var(--h3);
	line-height: 1em;
}

h4 {
	font-size: var(--h4);
	line-height: 1em;
}

h5 {
	font-size: var(--h5);	
}

h6 {
	font-size: var(--h6);
	text-transform: uppercase;
}

p, li {
	color: var(--color-foreground);
	font-weight: normal;
	font-size: var(--p);
	letter-spacing: .005em;
	line-height: 1.4em;
}

p {
	margin: 1.4em 0;
}

p a {
	color: var(--color-accent);
 	text-decoration-thickness: .125em;
}

h2 + p {
	margin-top: .375em;
}

em, i {
	font-family: var(--serif);
	letter-spacing: -.01em;
}

h1 em, h2 em, h3 em,
h1 i, h2 i, h3 i {
	font-size: .91em;
}

small {
	font-size: var(--small);
}

blockquote {
	position: relative;
	padding: 2.5em 2em 2em;
	margin: 2.5em auto 2em;
}

blockquote::before {
	content: "“";
	position: absolute;
	top: 3.5rem;
	left: 50%;
	color: var(--color-accent);
	transform: translateX(-50%);
	z-index: 10;
	font-family: var(--serif);
	font-style: italic;
	font-weight: 600;
	font-size: calc(var(--h1) * 2.5);
	line-height: 0;
}

blockquote::after {
	content: "";
}

blockquote p {
	position: relative;
	margin: 0 auto;
	color: var(--color-foreground);
	font-size: var(--h2);
	font-family: var(--serif);
	font-style: italic;
	font-weight: 600;
	line-height: 1.125;
	text-align: center;
	text-wrap: balance;
}

blockquote cite {
	display: inline-block;
	margin-top: 1rem;
	color: var(--heading-font-color);
	font-family: var(--sans-serif);
	font-size: var(--p);
	font-style: normal;
	font-weight: normal;
}

hr {
	background: var(--color-support-lc);
	border: 0;
	height: .0625em;
	margin: 3em 0;
}

.table-container {
	position: relative;
	width: 100%;
	overflow-x: auto;
}

table {
	width: 100%;
	min-width: max-content;
	margin-bottom: 2rem;
	border-collapse: collapse;
	font-size: var(--h5);
}

thead {
	background-color: var(--color-foreground);
	color: var(--color-background);
}

th, td {
	padding: .75rem 1rem;
	text-align: left;
}

th {
	background-color: var(--color-foreground);
	color: var(--color-background);
	font-size: var(--h4);
	font-weight: 600;
}

td {
	color: var(--color-foreground);
}

tbody tr:nth-child(odd) {
	background-color: var(--color-support-lc);
}

tbody tr:nth-child(even) {
	background-color: transparent;
}

tbody tr:hover {
	background-color: var(--color-accent);
}

tbody tr:hover td {
	color: var(--black);
}

/*	#endregion */


/*	#region  ■■■  06. ELEMENTOS INTERATIVOS  .............................................. */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

#lets-talk {
	scroll-margin-top: calc(var(--nav-height) + var(--content-margin));
}

form.contact {
	max-width: 35em;
	margin: .5em auto 0;
}

form.contact h3 {
	margin: calc(var(--p) * 2.1) 0 calc(var(--p) * .7);
}

label.contact-name,
label.contact-email,
label.contact-message {
	display: block;
	position: relative;
	margin-bottom: 1em;
	color: var(--color-foreground);
	font-size: var(--small);
	font-weight: 600;
	letter-spacing: .01em;
}

::placeholder {
  opacity: .67;
}

input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	padding: .75rem 1.5rem;
	margin-top: .25rem;
	background: var(--color-unfocused);
	border: .0625em solid var(--color-support-lc);
	border-radius: .5em;
	color: var(--color-foreground);
	font-size: var(--small);
	letter-spacing: .02em;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
	outline: none;
	background: var(--color-focused);
	border-color: var(--color-accent);
	animation: pulse 1.5s infinite;
}

textarea {
	min-height: 7.5em;
	resize: vertical;
	line-height: 1.4em;
}

button[type="submit"] {
	display: flex;
	gap: .375em;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	z-index: 0;
	margin: 0 auto;
	padding: .5em 1em;
	width: 100%;
	background: var(--color-foreground);
	border: none;
	border-radius: .5em;
	color: var(--color-background);
	font-size: var(--p);
	font-weight: 600;
}

button[type="submit"] > span {
	display: flex;
	flex-direction: row;
	column-gap: .5em;
	align-items: center;
	position: relative;
	z-index: 1;
}

button[type="submit"]:hover {
	color: var(--color-background);
}

button[type="submit"]:focus {
	outline: none;
	color: var(--color-background);
	animation: pulse 1.5s infinite;
}

button[type="submit"]::after {
	content: "";
	position: absolute;
	z-index: 0;
	inset: -.0625rem;
	background: var(--color-accent);
	transform: scaleX(0);
	transform-origin: center center;
	transition: transform .3s ease;
}

button[type="submit"]:hover::after,
button[type="submit"]:focus::after {
	transform: scaleX(1);
}

button[type="submit"]:active {
	animation: none;
}

button[type="submit"]:active::after {
	transform: scaleX(2);
}

.button-container {
	padding: .25em;
	border: .0625em solid var(--color-foreground);
	border-radius: 1em;
}

.button-container:hover {	
	border: .0625em solid var(--color-accent);
}

@media only screen and (min-width: 50em) {
	textarea {
		min-height: 10em;
	}
}

@media only screen and (min-width: 80em) {
	form.contact {
		max-width: 41em;
	}
}

/*	#endregion */


/*  #region  ■■■  07. ÍCONES SVG  ......................................................... */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

#svg-sprite-container {
	display: none;
}

svg {
	height: 1em;
	width: auto;
	vertical-align: middle;
	aspect-ratio: 1 / 1;
}

svg.icon-itchio {
	aspect-ratio: 10 / 9;
}

/*	#endregion */


/*	#region  ■■■  08. NAVEGAÇÃO  .......................................................... */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

#site-header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: var(--nav-height);
	padding: 0 var(--body-padding);
	background-color: var(--color-background);
	z-index: 1000;
}

#main-navigation {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	max-width: var(--content-width);
	height: var(--nav-height);
	overflow: hidden;
	border-bottom: .0625em solid var(--color-support-lc);
}

#logo {
	flex-grow: 1;
	display: flex;
    align-items: center;
	height: 100%;
	margin: 0 2em 0 0;
	color: var(--color-foreground);
}

#logo a {
	display: flex;
	align-items: center;
	position: relative;
	height: 100%;
	color: var(--color-foreground);
	font-weight: bold;
	font-size: var(--h3);
	letter-spacing: -.01em;
	text-decoration: none;
	text-shadow: none;
	transition: text-shadow .6s ease, transform .3s ease;
}

#logo a:hover {
	color: var(--color-background);
	text-shadow:
	.0625rem -.03125rem var(--color-accent),
	.125rem -.0625rem var(--color-accent),
	.1875rem -.09375rem var(--color-accent),
	.25rem -.125rem var(--color-accent),
	.3125rem -.15625rem var(--color-accent),
	.375rem -.1875rem var(--color-accent),
	.4375rem -.21875rem var(--color-accent),
	.5rem -.25rem var(--color-accent),
	.5625rem -.28125rem var(--color-accent),
	.625rem -.3125rem var(--color-accent),
	.6875rem -.34375rem var(--color-accent),
	.75rem -.375rem var(--color-accent);
}

#logo a:focus {
	outline: none;
	color: var(--color-background);
	text-shadow:
	.0625rem -.03125rem var(--color-accent),
	.125rem -.0625rem var(--color-accent),
	.1875rem -.09375rem var(--color-accent),
	.25rem -.125rem var(--color-accent),
	.3125rem -.15625rem var(--color-accent),
	.375rem -.1875rem var(--color-accent),
	.4375rem -.21875rem var(--color-accent),
	.5rem -.25rem var(--color-accent),
	.5625rem -.28125rem var(--color-accent),
	.625rem -.3125rem var(--color-accent),
	.6875rem -.34375rem var(--color-accent),
	.75rem -.375rem var(--color-accent);
}

#logo a:active {
	color: var(--color-background);
	transform: translate(.75rem, -.375rem);
	text-shadow: 0 0 transparent;
}

#hamburger-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: .3125em;
	width: 2em;
	height: 2em;
	margin: auto 0 auto 1em;
	padding: 0 0 0 .25em;
	border: none;
	background: none;
}

#hamburger-menu .bar {
	width: 100%;
	height: .25em;
	background-color: var(--color-foreground);
	border-radius: .0625em;
	transition: all .3s ease;
}

#hamburger-menu.open .bar:nth-child(1) {
	transform: translateY(.5625em) rotate(45deg) scaleY(1.5); /* gap + .bar height = .5625em */
}

#hamburger-menu.open .bar:nth-child(2) {
	opacity: 0;
}

#hamburger-menu.open .bar:nth-child(3) {
	transform: translateY(-.5625em) rotate(-45deg) scaleY(1.5);
}

#main-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: opacity .3s ease, background-color .3s, color .3s;
	position: absolute;
	top: var(--nav-height);
	left: 0;
	width: 100vw;
	height: calc(100vh - var(--nav-height));
	margin: 0;
	padding: var(--nav-height) var(--body-padding) calc(var(--nav-height) * 1.25);
	background-color: var(--color-background);
	list-style: none;
}

@supports (height: 100dvh) {
	#main-menu {
		height: calc(100dvh - var(--nav-height));
	}
}

#main-menu.open {
	opacity: 1;
	pointer-events: auto;
}

#main-menu li {
	opacity: 0;
	margin: .5em 1em;
	transform: translateY(1em);
	transition: opacity .3s ease, transform .3s ease;
	font-weight: 600;
	font-size: var(--h2);
}

#main-menu.open li {
	opacity: 1;
	transform: translateY(0);
}

#main-menu.open li:nth-child(1) { transition-delay: .05s; }
#main-menu.open li:nth-child(2) { transition-delay: .1s; }
#main-menu.open li:nth-child(3) { transition-delay: .15s; }
#main-menu.open li:nth-child(4) { transition-delay: .2s; }
#main-menu.open li:nth-child(5) { transition-delay: .25s; }

#main-menu a {
	color: var(--color-foreground);
	letter-spacing: -.025em;
	text-decoration: none;
	transition: color .3s;
}

#main-menu a:hover,
#main-menu a:active {
	color: var(--color-accent);
}

#main-menu a::after {
	content: "";
	position: absolute;
	bottom: -.375rem;
	left: 0;
	right: 0;
	height: .375rem;
	background-color: var(--color-accent);
	transform: scaleX(0);
	transition: transform .3s ease;
	transform-origin: bottom center;
}

#main-menu a:hover::after,
#main-menu a:focus::after,
#main-menu a.active::after {
	transform: scaleX(1);
}

#main-menu a:focus {
	outline: none;
	color: var(--color-accent);
}

#main-menu .icon-linkedin {
	margin-bottom: .0625em;
}

#settings {
	display: flex;
	margin: auto 0;
	justify-content: center;
}

#theme-toggle {
	display: none;
}

.toggle-label {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	font-size: 1rem;
	gap: .625em;
}

.toggle-switch {
	width: 2.375em;
	height: 1.375em;
	background-color: var(--color-theme-toggle);
	border-radius: .6875em;
	position: relative;
	transition: background-color .3s ease;
	overflow: hidden;
}

.toggle-switch::before {
	content: "";
	position: absolute;
	width: 1.125em;
	height: 1.125em;
	background-color: var(--white);
	border-radius: 50%;
	top: .125em;
	left: .125em;
	transition: transform .3s ease;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3), 0 1px 2px rgba(0, 0, 0, .15);
}

.toggle-switch .icon-sun,
.toggle-switch .icon-moon {
	position: absolute;
	width: .75em;
	height: .75em;
	top: .3125em;
	transition: transform .3s ease;
	user-select: none;
	opacity: .6;
}

.toggle-switch .icon-sun {
	right: .25em;
}

.toggle-switch .icon-moon {
	left: -.75em;
}

#theme-toggle:checked + .toggle-switch::before,
#theme-toggle:checked + .toggle-switch .icon-sun,
#theme-toggle:checked + .toggle-switch .icon-moon {
	transform: translateX(1em);
}

.no-scroll {
	overflow: hidden;
	height: 100vh;
	touch-action: none;
}

/*  pros loucos que navegam em modo paisagem no celular */
@media only screen and (max-height: 35em) {
	#main-menu {
		padding: calc(var(--nav-height) * .75) var(--body-padding) var(--nav-height);
	}
	
	#main-menu li {
		margin: 0 1em;
		font-size: var(--h3);
	}
}

/*  viewport >= 480px */
@media only screen and (min-width: 30em) {
	#hamburger-menu {
		margin: auto 0 auto 1.25em;
	}
}

/*  viewport >= 768px */
@media only screen and (min-width: 50em) {
	#main-navigation {
		max-width: 100%;
	}

	#hamburger-menu {
		margin: auto 0 auto 1.5em;
	}

	#main-menu {
		padding: calc(var(--nav-height) * 2) var(--body-padding) calc(var(--nav-height) * 2.5);
	}
}

/*  viewport >= 1152px */
@media only screen and (min-width: 72em) {
	#main-navigation {
		max-width: var(--grid-max-width);
	}

	#hamburger-menu {
		display: none;
	}

	#main-menu {
		flex-direction: row;
		opacity: 1;
		pointer-events: auto;
		position: static;
		width: auto;
		height: auto;
		padding: 0;
		background-color: transparent;
	}
	
	#main-menu li {
		display: flex;
		align-items: center;
		opacity: 1;
		height: 100%;
		font-size: var(--h4);
		transform: translateY(0);
	}

	#main-menu a::after {
		bottom: 0;
	}

	#main-menu .social {
		display: none;
	}

	#settings {
		margin: auto 0 auto 1em;
	}
}

/*	#endregion */


/*	#region  ■■■  09. GRIDS  .............................................................. */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0;
	width: 100%;
	margin: var(--nav-height) auto 0;
	max-width: var(--content-width);
}

.portfolio-grid,
.sample-portfolio-grid,
.blog-grid,
.sample-blog-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--grid-gutter);
}

#related {
	border-top: .0625em solid var(--color-support-lc);
	margin: 0;
	padding: 3em 0;
}

.related-grid {	
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--grid-gutter);
}


/*  viewport >= 768px */
@media only screen and (min-width: 50em) {
	.grid-container {
		max-width: 100%;
	}

	.portfolio-grid, .sample-portfolio-grid {
		grid-template-columns: repeat(2, 1fr);
		margin-top: 0;
	}

	#related {
		grid-column: 1 / span 12;
		grid-row: 2;
	}

	.related-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

/*  viewport >= 1152px */
@media only screen and (min-width: 72em) {
	.grid-container {
		grid-template-columns: repeat(var(--grid-columns), 1fr);
		column-gap: var(--grid-gutter);
		max-width: var(--grid-max-width);
	}

	.col-1  { grid-column: span 1; }
	.col-2  { grid-column: span 2; }
	.col-3  { grid-column: span 3; }
	.col-4  { grid-column: span 4; }
	.col-5  { grid-column: span 5; }
	.col-6  { grid-column: span 6; }
	.col-7  { grid-column: span 7; }
	.col-8  { grid-column: span 8; }
	.col-9  { grid-column: span 9; }
	.col-10 { grid-column: span 10; }
	.col-11 { grid-column: span 11; }
	.col-12 { grid-column: span 12; }

	.portfolio-grid {
		grid-template-columns: repeat(3, 1fr);
	}
	
	.blog-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.related-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

/*	#endregion */


/*	#region  ■■■  10. CARDS  .............................................................. */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

.portfolio-card {
	display: flex;
	overflow: hidden;
	border-radius: 1.5em;
	transition: transform .3s ease;
}

.portfolio-card-link {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: inherit;
	text-decoration: none;
}

.portfolio-card-image {
	aspect-ratio: 4 / 3;
	position: relative;
	overflow: hidden;
}

.portfolio-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1.04);
	transition: transform .3s ease, filter .3s ease;
}

.portfolio-card video {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.portfolio-card-info {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	position: relative;
	margin-top: -.0625rem;
	padding: 1.5rem 1.75rem 1.75rem;
	background-color: var(--color-foreground);
}

.portfolio-card-info h3, .portfolio-card-info h4 {
	color: var(--color-background);
	margin: 0;
	text-wrap: balance;
}

.portfolio-card-info p {
	color: var(--color-background);
	padding: 0;
	margin: 0 0 .25em;
	font-size: var(--small);
	line-height: 1.1;
}

.portfolio-card-info ul {
	list-style: none;
	padding: 0;
	margin: 1.25em 0 .25em;
}

.portfolio-card-info li {
	color: var(--color-background);
	border-bottom: .0625em solid var(--color-support-hc);
	padding: .25em 0;
	font-size: var(--small);
	line-height: 1.1;
	text-wrap: balance;
}

.portfolio-card-info li:first-of-type {
	border-top: .0625em solid var(--color-support-hc);
}

.portfolio-card-info small {
	display: block;
	font-size: var(--h5);
	opacity: .67;
}

.blog-card {
	display: flex;
	overflow: hidden;
	border-radius: 1.5em;
	transition: transform .3s ease;
	width: 100%;
}

.blog-card-link {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: inherit;
	text-decoration: none;
}

.blog-card-image {
	aspect-ratio: 16 / 9;
	position: relative;
	overflow: hidden;
}

.blog-card-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1.04);
	transition: transform .3s ease, filter .3s ease;
}

.blog-card-info {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	position: relative;
	margin-top: -.0625rem;
	padding: 1.5rem 1.75rem 1.75rem;
	background-color: var(--color-foreground);
}

.blog-card-info h3 {
	color: var(--color-background);
	margin: 0 0 .25em;
	text-wrap: balance;
}

.blog-card-date {
	display: flex;
	flex-direction: row;
	gap: .5em;
	align-items: center;
	padding-top: .5em;
	margin-top: 1em;
	border-top: .0625em solid var(--color-support-hc);
	color: var(--color-background);
}

.blog-card-date time {
	font-size: var(--small);
}

.portfolio-card:hover,
.blog-card:hover {
	transform: scale(1.03);
}

.portfolio-card:focus-within,
.blog-card:focus-within {
	outline: none;
	animation: pulse 1.5s infinite;
	transform: scale(1.03);
}

.portfolio-card:active,
.blog-card:active {
	transform: scale(1.0);
	animation: none;
}

.portfolio-card:hover .portfolio-card-image img,
.portfolio-card:focus-within .portfolio-card-image img, 
.blog-card:hover .blog-card-image img,
.blog-card:focus-within .blog-card-image img {
	filter: blur(.25em);
	transform: scale(1.04);
}

.portfolio-card .portfolio-card-image::after,
.blog-card .blog-card-image::after {
	content: "Learn more";
	pointer-events: none;
	position: absolute;
	inset: 0;
	padding: 1.75rem;
	opacity: 0;
	background-color: rgba(0, 0, 0, .5);
	background-image: url('/assets/icons/icon-arrow.svg');
	background-repeat: no-repeat;
	background-position: top 1.75rem right 1.75rem;
	background-size: auto clamp(1.125rem, 1.0378rem + 0.436vw, 1.5rem);
	color: var(--white);
	font-size: var(--p);
	font-weight: 600;
	transition: opacity .3s ease;
}

.portfolio-card:hover .portfolio-card-image::after,
.portfolio-card:focus-within .portfolio-card-image::after,
.blog-card:hover .blog-card-image::after,
.blog-card:focus-within .blog-card-image::after {
	opacity: 1;
}

/*  viewport >= 768px */
@media only screen and (min-width: 50em) {
	.blog-card-link {
		flex-direction: row;
	}

	.blog-card, .blog-card-image {
		height: 15em;
	}

	.blog-card-image {
		flex-shrink: 0;
		width: 50%;
		height: 100%;
		aspect-ratio: auto;  
	}

	.blog-card-info {
		flex-grow: 1;
		width: 50%;
		min-width: 0;		
		margin-top: 0;
		margin-left: -.0625em;
	}
}

/*	#endregion */


/*	#region  ■■■  11. LAYOUTS DE PÁGINA ................................................... */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/*	Layout container */
.content {
	margin: var(--content-margin) 0 0;
}

.content h1 {
	margin-bottom: 1.5em;
}

/*	Imagem de destaque */
.content-hero {
	aspect-ratio: 4 / 3;
	margin: 0;
	overflow: hidden;
}

.content-hero img,
.content-hero video {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

/*	Resumos */
.content-summary {
	margin-bottom: calc(var(--h1) * .7);
}

.content-summary h3 {
	margin-bottom: 1rem;
}

.content-summary > p:first-of-type {
	margin: .875em 0 0;
	font-size: var(--h3);
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1.25em;
}

.content-summary ul {
	list-style: none;
	padding: 0;
	margin-bottom: .25em;
}

.content-summary li {
	border-bottom: .0625em solid var(--color-support-lc);
	padding: .5em 0;
	font-size: var(--small);
	line-height: 1.1;
	text-wrap: balance;
}

.content-summary li:first-of-type {
	border-top: .0625em solid var(--color-support-lc);
}

.content-summary small {
	display: block;
	opacity: .67;
	font-size: var(--h5);
}

.content-date {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: .625em;
	padding-bottom: .5em;
	border-bottom: .0625em solid var(--color-support-hc);
}

.content-date time {
	font-size: var(--small);
}

/*	Corpo do conteúdo */
.content-body {
	padding: calc(var(--p) * 2.8) 0;
}

.content-body h2, .content-body h3, .content-body h4 {
	margin-top: calc(var(--p) * 2.8);
}

.content-body > :first-child {
	margin-top: 0;
}

.content-body > :last-child {
	margin-bottom: 0;
}

.content-body p:has(img) {
	margin: 0;
}

.content-body img,
.content-body video {
	display: block;
	border-radius: 1.5rem;
	max-width: 100%;
	margin: calc(var(--p) * 1.4) 0;
}

.content-body figure {
	margin: calc(var(--p) * 1.4) 0;
	display: flex;
	flex-direction: column;
}

.content-body figure > img {
	margin: 0;
}

.content-body p:not(:has(img)) + figure,
.content-body figure + p:not(:has(img)),
.content-body figure + figure,
.content-body p:not(:has(img)) + p:has(img),
.content-body p:has(img) + p:not(:has(img)),
.content-body p:not(:has(img)) + video,
.content-body video + p:not(:has(img)) {
	margin-top: calc(var(--p) * 2.8);
}

.content-body figcaption {
	margin: 0 var(--fluid-padding-h);
	padding: clamp(0.375rem, 0.2548rem + 0.601vw, 0.6875rem) clamp(1rem, 0.6154rem + 1.9231vw, 2rem) clamp(0.5rem, 0.3558rem + 0.7212vw, 0.875rem);
	color: var(--color-background);
	background: var(--color-foreground);
	border-radius: 0 0 clamp(0.75rem, 0.4615rem + 1.4423vw, 1.5rem) clamp(0.75rem, 0.4615rem + 1.4423vw, 1.5rem);
	font-size: var(--h5);
	font-weight: 600;
}

/*  viewport >= 768px */
@media only screen and (min-width: 50em) {
	.content-summary ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: var(--grid-gutter);
	}

	.content-summary li:nth-child(2) {
		border-top: .0625em solid var(--color-support-lc);
	}
	
	.content-date {
		padding-bottom: .625em;
	}

	.content-body {
		padding: calc(var(--p) * 2.8) var(--fluid-padding-h);
	}
	
	.content-body img,
	.content-body video {
		max-width: calc(100% + (var(--fluid-padding-h) * 2));
		margin: calc(var(--p) * 1.4) calc(var(--fluid-padding-h) * -1);
	}

	.content-body figure {
		max-width: calc(100% + (var(--fluid-padding-h) * 2));
		margin: calc(var(--p) * 1.4) calc(var(--fluid-padding-h) * -1);
	}

	.content-body figure > img {
		max-width: 100%;
	}
}

/*  viewport >= 1152px */
@media only screen and (min-width: 72em) {
	.content-date {
		padding-bottom: .75em;
	}

	.content-body {
		padding: calc(var(--p) * 3.5) var(--fluid-padding-h);
	}

	.content-body h2, .content-body h3, .content-body h4 {
		margin-top: calc(var(--p) * 3.5);
	}
}

/*	#endregion */


/*	#region  ■■■  12. PROJETOS  ........................................................... */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

#project .content-hero {
	border-radius: 1.5em;
}

#project .content-body > p:first-of-type {
	margin-bottom: calc(1.4 * var(--p));
	font-size: var(--h3);
	font-weight: 600;
	letter-spacing: -.005em;
	line-height: 1.25em;
}

/*  viewport >= 1152px */
@media only screen and (min-width: 72em) {
	article#project {
		grid-column: 2 / span 10;
		grid-row: 1
	}
}

/*  viewport >= 1280px */
@media only screen and (min-width: 80em) {
	article#project {
		grid-column: 3 / span 8;
	}
}
/*	#endregion */


/*	#region  ■■■  13. POSTS  .............................................................. */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

#post .content-hero {
	border-radius: 1.5em 1.5em 0 0;
}

#post .content-summary {
	padding: clamp(1.5rem, 1.25rem + 1.25vw, 3.5rem) var(--fluid-padding-h);
	border-radius: 0 0 1.5em 1.5em;
	background-color: var(--color-foreground);
}

#post .content-summary * {
	color: var(--color-background);
}



.post-tags {
	display: flex;
	flex-direction: row;
	column-gap: .75em;
	align-items: center;
	padding: .25em 0;
}

.post-tags * {
	color: var(--color-foreground);
}

.post-tags ul {
	display: flex;
	flex-direction: row;
	gap: .375em;
	list-style: none;
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

.post-tags li {
	font-size: var(--p);
	font-weight: bold;
	line-height: 1.15;
	text-transform: uppercase;
}

.post-tags li::after {
	content: ", ";
}

.post-tags li:last-child::after {
	content: "";
}

.post-tags a {
	text-decoration: none;
}

.post-tags a:hover {
	color: var(--color-accent);
}

/*  viewport >= 480px */
@media only screen and (min-width: 30em) {
	.post-tags {
		padding: 1em 0;
	}
}

/*  viewport >= 768px */
@media only screen and (min-width: 50em) {
	.post-tags {
		padding: 2em var(--fluid-padding-h);
	}
}

/*  viewport >= 1152px */
@media only screen and (min-width: 72em) {
	article#post {
		grid-column: 2 / span 10;
		grid-row: 1;
	}
}

/*  viewport >= 1280px */
@media only screen and (min-width: 80em) {
	article#post {
		grid-column: 3 / span 8;
	}

	.post-tags {
		padding: 2.5em var(--fluid-padding-h);
	}
}

/*	#endregion */


/*	#region  ■■■  14. PÁGINAS  ............................................................ */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

#page .content-hero {
	border-radius: 1.5em;
}

#page .content-body > p:first-of-type {
	margin: 0 0 calc(1.4 * var(--p));
	font-size: var(--h3);
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1.25em;
}

/*  viewport >= 768px */
@media only screen and (min-width: 50em) {
	#page .content-hero {
		border-radius: 1.5em 1.5em 0 0;
	}

	#page .content-body {
		border-left: .0625em solid var(--color-support-lc);
		border-right: .0625em solid var(--color-support-lc);
		border-bottom: .0625em solid var(--color-support-lc);
		border-radius: 0 0 1.5em 1.5em;
	}
}

/*  viewport >= 768px */
@media only screen and (min-width: 50em) {
	#page .content {
		margin-bottom: var(--nav-height);
	}
}

/*  viewport >= 1152px */
@media only screen and (min-width: 72em) {
	article#page {
		grid-column: 2 / span 10;
	}

	#page .content-body {
		padding: calc(var(--p) * 2.8) var(--fluid-padding-h);
	}
}

/*  viewport >= 1280px */
@media only screen and (min-width: 80em) {
	article#page {
		grid-column: 3 / span 8;
	}
}

/*	#endregion */


/*	#region  ■■■  15. COLEÇÕES  ........................................................... */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/*	Home */
.more {
	display: flex;
	align-items: center;
	margin: var(--grid-gutter) auto 0;
	gap: 1.5em;
}

.more a {	
	display: flex;
	gap: .375em;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding: .5em 1em;
	width: 100%;
	background: var(--color-unfocused);
	border: .0625em solid var(--color-support-lc);
	border-radius: .5em;
	color: var(--color-foreground);
	font-size: var(--p);
	font-weight: 600;
	text-decoration: none;
	z-index: 0;
}

.more a > span {
	display: flex;
	flex-direction: row;
	column-gap: .5em;
	align-items: center;
	position: relative;
	z-index: 1;
}

.more a:hover {
	color: var(--color-background);
}

.more a:focus {
	outline: none;
	color: var(--color-background);
	animation: pulse 1.5s infinite;
}

.more a::after {
	content: "";
	position: absolute;
	inset: -.0625rem;
	background: var(--color-accent);
	transform: scaleX(0);
	transform-origin: center center;
	transition: transform .3s ease;
	z-index: 0;
}

.more a:hover::after,
.more a:focus::after {
	transform: scaleX(1);
}

.more a:active {
	animation: none;
}

.more a:active::after {
	transform: scaleX(2);
}

/*	Portfolio */
#product-design, #case-studies, #side-quests {
	scroll-margin-top: calc(var(--nav-height) - .0625rem);
}

/*	Páginas de Coleção */
h2.section-title {
	margin-bottom: .25rem;
	text-wrap: balance;
}

p.section-description {
	line-height: 1.15;
	text-wrap: balance;
}

@media screen and (min-width: 50em) {
	.more a {
		width: calc(50% - (var(--grid-gutter) / 2));
		margin-left: auto;
		margin-right: auto;
	}
}

/*  viewport >= 1152px */
@media only screen and (min-width: 72em) {
	.sticky {
		position: sticky;
		top: calc(var(--nav-height) + var(--content-margin));
		padding-right: 2em;
	}
}

/*	#endregion */


/*	#region  ■■■  16. RODAPÉ  ............................................................. */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

footer {
	display: flex;
	flex-direction: row;
	column-gap: 3em;
	justify-content: space-between;
	padding: var(--nav-height) 0;
	width: 100%;
	max-width: var(--content-width);
	border-top: .0625em solid var(--color-support-lc);
}

footer p {
	color: var(--color-support-hc);
	font-size: var(--h5);
	margin: 0;
	letter-spacing: .01em;
	line-height: 1.25;
	text-wrap: balance;
}

.social-links, .footer-navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 1.75em;
	row-gap: .5em;
	align-items: center;
}

.social-links {
	font-size: var(--h5);
}

.footer-navigation {
	margin: calc(var(--nav-height) - .5rem) 0 1em;
	font-size: var(--small);
}

.social-links a, .footer-navigation a {
	display: flex;
	column-gap: .375em;
	align-items: center;
	font-weight: 600;
	text-decoration-color: transparent;
}

.social-links a {
	color: var(--color-support-hc);
}

.footer-navigation a {
	color: var(--color-foreground);
}

.social-links a:hover, .footer-navigation a:hover {	
	color: var(--color-accent);
	text-decoration-color: var(--color-accent);
}

.social-links a:focus, .footer-navigation a:focus {
	outline: none;
	color: var(--color-accent);
	text-decoration-color: var(--color-accent);
}

.social-links svg {
	height: 1.75em;
}

.footer-navigation svg {
	height: 1em;
}

#footer-links {
	flex-grow: 1;
}

#footer-logo {
	display: none;
}

#footer-logo .icon-logo {
	height: 6.75em;
}

#footer-logo a {
	color: var(--color-support-hc);
}

#footer-logo a:hover {
	color: var(--color-accent);
}

#footer-logo a:focus {
	outline: none;
	color: var(--color-accent);
}

@media only screen and (min-width: 50em) {
	footer {
		max-width: 100%;
	}

	#footer-logo {
		display: flex;
	}
}

@media only screen and (min-width: 72em) {
	footer {
		max-width: var(--grid-max-width);
	}
}

/*	#endregion */


/*	#region  ■■■  17. SPLASH  ............................................................. */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

#intro {
	display: flex;
	flex-direction: column;
	row-gap: var(--content-margin);
	width: 100%;
	max-width: var(--content-width);
	min-height: calc(100vh - var(--nav-height) - (2 * var(--content-margin)));
	margin: calc(var(--nav-height) + var(--content-margin)) auto var(--content-margin);
}

@supports (height: 100dvh) {
	#intro {	
		min-height: calc(100dvh - var(--nav-height) - (2 * var(--content-margin)));
	}
}

#hero {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto auto auto;
	grid-template-areas:
	"title"
	"image-1"
	"button-1"
	"button-2"
	"button-3";
	min-height: calc(100vh - var(--nav-height) - (2 * var(--content-margin)));
}

@supports (height: 100dvh) {
	#hero {	
		min-height: calc(100dvh - var(--nav-height) - (2 * var(--content-margin)));
	}
}

#title {
	grid-area: title;
}

#title h1 {
	margin: 0 0 1em;
	padding: 0;
	font-size: var(--h1);
	letter-spacing: -.02em;
}

#title span {
	color: var(--color-background);
	letter-spacing: -.01em;
	-webkit-text-stroke: .02em var(--color-support-hc);
}

#image-1, #image-2, #image-3 {
	border-radius: 1.5rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#image-1 {
	grid-area: image-1;
/* 	background-image: var(--hero-mobile); */
background-color: #00ffaa;
	margin-bottom: 1.5em;
}

#image-2 {
	grid-area: image-2;
/* 	background-image: var(--hero-2); */
background-color:#ff7f50;
	display: none;
}

#image-3 {
	grid-area: image-3;
/* 	background-image: var(--hero-3); */
background-color: #4682b4;
	display: none;
}

#button-1, #button-2, #button-3 {	
	margin: 1em 0 0;
}

#button-1 {grid-area: button-1;}
#button-2 {grid-area: button-2;}
#button-3 {grid-area: button-3;}

.cta-button {
	display: flex;
	flex: 1;
	gap: .375em;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	padding: .5em 1em;
	background: var(--color-foreground);
	border-radius: .5em;
	color: var(--color-background);
	font-size: var(--p);
	font-weight: 600;
	text-decoration: none;
	z-index: 0;
}

.cta-button > span {
	display: flex;
	flex-direction: row;
	column-gap: .5em;
	align-items: center;
	position: relative;
	z-index: 1;
}

.cta-button:hover {
	color: var(--color-background);
}

.cta-button:focus {
	outline: none;
	color: var(--color-background);
	animation: pulse 1.5s infinite;
}

.cta-button::after {
	content: "";
	position: absolute;
	inset: -.0625rem;
	background: var(--color-accent);
	transform: scaleX(0);
	transform-origin: center center;
	transition: transform .3s ease;
	z-index: 0;
}

.cta-button:hover::after,
.cta-button:focus::after {
	transform: scaleX(1);
}

.cta-button:active {
	animation: none;
}

.cta-button:active::after {
	transform: scaleX(2);
}

@media only screen and (min-width: 50em) {
	#intro {
		max-width: 100%;
	}

	#hero {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto 1fr auto auto auto;
		column-gap: var(--grid-gutter);	
		grid-template-areas:
		"title    image-1"
		".        image-1"
		"button-1 image-2"
		"button-2 image-2"
		"button-3 image-2";
	}

	#title h1 {
		margin: 0 0 1em;
	}

	#image-1 {
		background-image: var(--hero-1);
		margin-bottom: .75em;
	}

	#image-2 {
		display: block;
		margin-top: 1.25em;
	}
	
	#button-1, #button-2, #button-3 {
		margin: 1.25em 0 0;
	}
}

@media only screen and (min-width: 72em) {
	#intro {
		justify-content: center;
		max-width: var(--grid-max-width);
	}	

	#hero {
		column-gap: var(--grid-gutter);	
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto 7vh 7vh 1fr auto;
		grid-template-areas:
		"title    title    title"
		".        .        image-3"
		".        image-2  image-3"
		"image-1  image-2  image-3"
		"button-1 button-2 button-3";
	}

	#title h1 {
		margin: 0 0 clamp(1rem, -0.2857rem + 1.7857vw, 4rem);
	}

	#image-1, #image-2 {
		margin: 0;
	}

	#image-3 {
		display: block;
	}
	
	#button-1, #button-2, #button-3 {
		margin: var(--grid-gutter) 0 0;
	}
}

/*	#endregion */


/*	#region  ■■■  18. ACCORDION  .......................................................... */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

.accordion-wrapper {
	margin: 2em auto 0;
	width: 100%;
}

.accordion-button {
	display: flex;
	gap: .375em;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	padding: .5em 1em;
	background: var(--color-foreground);
	border: .0625em solid var(--color-support-lc);
	border-radius: .5em;
	color: var(--color-background);
	font-size: var(--p);
	font-weight: 600;
	text-align: center;
	z-index: 0;
}

.accordion-button > span {
	display: flex;
	flex-direction: row;
	column-gap: .5em;
	align-items: center;
	position: relative;
	z-index: 1;
}

.accordion-button:hover {
	color: var(--color-background);
}

.accordion-button:focus {
	outline: none;
	color: var(--color-background);
	animation: pulse 1.5s infinite;
}

.accordion-button::after {
	content: "";
	position: absolute;
	inset: -.0625rem;
	background: var(--color-accent);
	transform: scaleX(0);
	transform-origin: center center;
	transition: transform .3s ease;
	z-index: 0;
}

.accordion-button:hover::after,
.accordion-button:focus::after {
	transform: scaleX(1);
}

.accordion-button:active {
	animation: none;
}

.accordion-button:active::after {
	transform: scaleX(2);
}

.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height .4s ease;
	will-change: max-height;
	opacity: 0;
	transition: max-height .4s ease, opacity .3s ease;
}

.accordion-content.open {
	overflow: visible;
	opacity: 1;
}

@media screen and (min-width: 50em) {
	.accordion-wrapper {
		width: calc(50% - (var(--grid-gutter) / 2));
	}
}

/*	#endregion */


/*	#region  ■■■  19. TRAPAÇA  ............................................................ */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

#game-console {
	display: flex;
	flex-direction: column;
	row-gap: var(--content-margin);
	width: 100%;
	max-width: var(--content-width);
	min-height: calc(100vh - var(--nav-height) - (2 * var(--content-margin)));
	margin: calc(var(--nav-height) + var(--content-margin)) auto var(--content-margin);
}

@supports (height: 100dvh) {
	#game-console {	
		min-height: calc(100dvh - var(--nav-height) - (2 * var(--content-margin)));
	}
}

#game {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	background: url("/assets/images/wavey-fingerprint.svg") repeat;
	border-radius: 1.5rem;
}

.game-iframe {
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	height: 300px;
	min-height: 150px;
	border: none;
}

.rainbow {
	background: linear-gradient(to right, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 0 0/100% 200%;
	background-size: 200% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	animation: rainbow-gradient 2s linear infinite;
	line-height: clamp(2rem, 1.5349rem + 2.3256vw, 4rem);
}

.short-padding {
	padding-top: var(--p);
}

.row {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: left;
	padding: 0 1.5em 1.5em 0;
}

.row .left-corner,
.row .right-corner {
	align-self: flex-start;
	height: 1.5em;
	color: var(--color-background);
	transform: rotate(90deg);
}

.row .text {
	background-color: var(--color-background);
	border-radius: 0 1.5rem 1.5rem 0;
}

.row .text h1 {
	margin: 0;
	padding: .5em .75em .5em 0;
	font-size: var(--h1);
	letter-spacing: -.02em;
}

@media only screen and (min-width: 50em) {
	#game-console {
		max-width: 100%;
	}

	.center {
		align-self: center;
	}

	.game-iframe {
		margin: calc(var(--content-margin) / 2) 0;
	}
	
	.row {
		flex-direction: row;
		padding: 0 clamp(1.5rem, -1.3966rem + 6.0345vw, 5rem);
	}

	.row .left-corner,
	.row .right-corner {
		align-self: auto;
		transform: rotate(0deg);
	}

	.row .text {
		border-radius: 1.5rem 1.5rem 0 0;
	}

	.row .text h1 {
		padding: .5em .75em 0;
	}
}

@media only screen and (min-width: 72em) {
	#game-console {
		justify-content: center;
		max-width: var(--grid-max-width);
	}
}

/*	#endregion */


/*	#region  ■■■  20. ANIMAÇÕES  .......................................................... */
/*	■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

@keyframes pulse {
	0% { box-shadow: 0 0 0 0 var(--color-pulse); }
	70% { box-shadow: 0 0 0 .5rem rgba(0, 255, 170, 0); }
	100% { box-shadow: 0 0 0 0 rgba(0, 255, 170, 0); }
}

@keyframes rainbow-gradient {
	to {
		background-position: -200% 0;
	}
}

/*	#endregion */


.secondary {
	border-top: .0625em solid var(--color-support-lc);
	padding: var(--content-margin) 0;
	margin: 0 auto;
}

::selection {
	background-color: transparent;
	text-shadow: 0 0 .5em var(--color-accent);
}


.content-body li {
	margin-top: calc(var(--p) * .7);
	margin-bottom: calc(var(--p) * .7);
}