<!-- modify this form HTML and place wherever you want your form -->
<form class="contact" action="https://formspree.io/f/xjkrawev" method="POST">
	<h3>Contact details</h3>
	<label class="contact-name" aria-label="Name">
		<input required type="text" name="name" placeholder="Name">
	</label>
	<label class="contact-email" aria-label="Email">
		<input required type="email" name="email" placeholder="E-mail">
	</label>
	<label class="contact-company" aria-label="Company">
		<input type="text" name="name" placeholder="Company (optional)">
	</label>
	<h3>How can I help you?</h3>
	<label class="contact-message" aria-label="Message">
		<textarea required name="message" placeholder="Your message"></textarea>
	</label>
	<!-- your other form fields go here -->
	<div class="button-container">
		<button class="contact-send" type="submit"><span>Send Message</span><span class="arrow">&rarr;</span></button>
	</div>
</form>