<footer>
	<div id="footer-wrapper">
		<div id="footer-links">
			<div class="social-links">
				<a href="{{ 'https://www.linkedin.com/in/guilherme-odai/' | absolute_url }}" class="icon" target="_blank" rel="noopener noreferrer" aria-label="{{ site.data.i18n[site.active_lang].footer_linkedin }}" title="{{ site.data.i18n[site.active_lang].footer_linkedin }}">
					<svg class="icon-linkedin">
						<use href="#icon-linkedin"></use>
					</svg>
				</a>
				<a href="{{ 'https://guilhermeodai.itch.io/' | absolute_url }}" class="icon" target="_blank" rel="noopener noreferrer" aria-label="{{ site.data.i18n[site.active_lang].footer_itchio }}" title="{{ site.data.i18n[site.active_lang].footer_itchio }}">
					<svg class="icon-itchio">
						<use href="#icon-itchio"></use>
					</svg>
				</a>
				<a href="{{ '/feed.xml' | relative_url }}" class="icon" target="_blank" rel="noopener noreferrer" aria-label="{{ site.data.i18n[site.active_lang].footer_rss }}" title="{{ site.data.i18n[site.active_lang].footer_rss }}">
					<svg class="icon-rss">
						<use href="#icon-rss"></use>
					</svg>
				</a>
			</div>
			<nav class="footer-navigation">
				{% assign about = site.pages | where: "page_id", "about" | where: "lang", site.active_lang | first %}
				<a href="{{ '/assets/docs/resume Guilherme Almeida.pdf' | relative_url }}" target="_blank" rel="noopener noreferrer" type="application/pdf" aria-label="Opens resume in a new tab">
					{{ site.data.i18n[site.active_lang].footer_resume }}
				</a>
				<a href="#">
					{{ site.data.i18n[site.active_lang].footer_faq }}
				</a>
				<a href="{{ about.url | relative_url }}#contact-form">
					{{ site.data.i18n[site.active_lang].footer_contact }}
				</a>
			</nav>
			<p aria-label="Copyright"><strong>{{ site.title }}</strong> &mdash; {{ site.data.i18n[site.active_lang].role1 }} {{ site.data.i18n[site.active_lang].role_plus }} {{ site.data.i18n[site.active_lang].role2 }}<br />&copy;
				{% assign current_year = site.time | date: "%Y" | plus: 0 %}
				{% assign start_year = site.custom.dates.start_year | default: 2025 | plus: 0 %}

				{% if start_year == current_year %}
				{{ current_year }}
				{% else %}
				{{ start_year }}&ndash;{{ current_year }}
				{% endif %} &mdash; {{ site.data.i18n[site.active_lang].footer_tagline }}</p>
		</div>
		<div id="footer-logo">
			<a href="{{ page.url }}#start" aria-label="{{ site.data.i18n[site.active_lang].footer_top }}" title="{{ site.data.i18n[site.active_lang].footer_top }}">
				<svg class="icon-logo">
					<use href="#icon-logo"></use>
				</svg>
			</a>
		</div>
	</div>
</footer>