---
layout: default
---

<main>
	<div id="articles" class="grid-container">
		<div class="col-12">

			{% if site.posts and site.posts.size > 0 %}
			<section id="blog">
				<header>
					<h2 class="section-title">{{ page.blog-title | default: 'Missing Title'}}</h2>
					<p class="section-description">{{ page.blog-description | default: 'Missing description'}}</p>
				</header>
				{% assign blog = site.posts | sort: 'date' | reverse %}
				<div class="blog-grid">
					{% for post in blog %}
					<article class="blog-card">
						<a href="{{ post.url }}" class="blog-card-link">
							<div class="blog-card-image">
								<img src="{{ post.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ item.title }} preview">
							</div>
							<div class="blog-card-info">
								<h3>{{ post.title }}</h3>
								<div class="blog-card-date">
									<svg class="icon-calendar">
										<use href="#icon-calendar"></use>
									</svg>
									{% assign month = post.date | date: "%m" | plus: 0 | minus: 1 %}
									<time datetime="{{ post.date | date_to_xmlschema }}">
										{{ site.data.i18n[site.active_lang].months[month] }} {{ post.date | date: "%Y" }}
									</time>
								</div>
							</div>
						</a>
					</article>
					{% endfor %}
				</div>
			</section>
			{% endif %}

		</div>
	</div>
</main>