---
layout: default
---

<main>
	<div class="grid-container">
		<!-- begin post -->
		<article id="post">
			<div class="content">
				<header>
					<h1>{{ page.title }}</h1>
				</header>
				<figure class="content-hero">
					<img class="hero-image" src="{{ page.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ page.image-caption | default: page.title }}">
				</figure>
				<div class="content-summary">
					<div class="content-date">
						<svg class="icon-calendar">
							<use href="#icon-calendar"></use>
						</svg>
						{% assign month = page.date | date: "%m" | plus: 0 | minus: 1 %}
						<time datetime="{{ page.date | date_to_xmlschema }}">
							{{ site.data.i18n[site.active_lang].months[month] }} {{ page.date | date: "%Y" }}
						</time>
					</div>
					{% if page.description %}
					<p>{{ page.description }}</p>
					{% else %}
					<p>Ô arrombado! Vc esqueceu de botar uma descrição</p>
					{% endif %}
				</div>
				<div class="content-body">
					{{ content }}
				</div>
				{% if page.categories %}
				<div class="post-tags">
					<svg class="icon-tags">
						<use href="#icon-tags"></use>
					</svg>
					<ul>
						{% for category in page.categories %}
						<li><a href="{{ '/categorias/' | relative_url }}{{ category | slugify }}/">{{ category }}</a></li>
						{% endfor %}
						{% else %} {# Nova condição: se não tem categorias #}
						<li>Sem categorias</li> {# Mensagem de aviso simples #}
					</ul>
				</div>
				{% endif %}
			</div>
		</article>
		<!-- begin post -->
	</div>
</main>