<!DOCTYPE html>
<html id="start" lang="en-US" data-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="referrer" content="strict-origin-when-cross-origin">
	<title>{% if page.url == '/' or page.url == '/index.html' %}{{ site.title }} &ndash; {{ site.description }}{% else %}{{ page.title }} &ndash; {{ site.title }}{% endif %}</title>
	{% seo title=false %}

	<!-- Remover a tag abaixo e robots.txt na raiz do projeto -->
	<meta name="robots" content="noindex, nofollow">

	<!-- folhas de estilo -->
	<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}" media="screen">

	<!-- favicon -->
	<link rel="icon" href="{{ '/assets/icons/favicon.svg?v=2' | relative_url }}" type="image/svg+xml">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32x32.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16x16.png' | relative_url }}">
	<link rel="apple-touch-icon" href="{{ '/assets/icons/apple-touch-icon.png' | relative_url }}">

	<!-- rss feed -->
	<link rel="alternate" type="application/rss+xml" href="{{ '/feed.xml' | absolute_url }}" />

	<!-- javascript -->
	<script>
		(function () {
			const savedTheme = localStorage.getItem("theme") || "light";
			document.documentElement.setAttribute("data-theme", savedTheme);
		})();
	</script>
	<script src="{{ '/js/theme-switcher.js' | relative_url }}" defer></script>
</head>

<body>
	<div id="svg-sprite-container"></div>
	<script>
		fetch('{{ "/assets/icons/icons.svg" | relative_url }}')
			.then(response => response.text())
			.then(svgText => {
				document.getElementById('svg-sprite-container').innerHTML = svgText;
			})
			.catch(error => console.error('Erro ao carregar SVG sprite:', error));
	</script>

	<header id="site-header">
		<nav id="main-navigation" role="navigation">
			<div id="logo">
				<a href="{% if page.url == '/' %}{{ '/#start' | relative_url }}{% elsif page.url != '/' %}{{ '/' | relative_url }}{% endif %}">[&nbsp;Gui.lher.me&nbsp;]</a>
			</div>
			<ul id="main-menu">
				<li><a href="{{ '/#product-design' | relative_url }}">Product Design</a></li>
				<li><a href="{{ '/#case-studies' | relative_url }}">Case Studies</a></li>
				<li><a href="{{ '/#side-quests' | relative_url }}">Side Quests</a></li>
				<li><a href="{{ '/articles/' | relative_url }}">Articles</a></li>
				<li><a href="{{ '/about/' | relative_url }}" class="{% if page.url == '/about/' %}active{% endif %}">About</a></li>
				<li class="social">
					<a href="{{ 'https://www.linkedin.com/in/guilherme-odai/' | absolute_url }}" target="_blank" rel="noopener noreferrer" class="icon" aria-label="LinkedIn Profile">
						<svg class="icon-linkedin">
							<use href="#icon-linkedin"></use>
						</svg>
					</a>
				</li>
			</ul>
			<div id="settings">
				<label class="toggle-label">
					<input type="checkbox" id="theme-toggle">
					<span class="toggle-switch">
						<svg class="icon-sun">
							<use href="#icon-sun"></use>
						</svg>
						<svg class="icon-moon">
							<use href="#icon-moon"></use>
						</svg>
					</span>
				</label>
			</div>
			<button id="hamburger-menu" type="button" aria-label="Toggle menu" aria-controls="main-menu" aria-expanded="false">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</button>
		</nav>
	</header>

	{{ content }}

	{% include footer.html %}

	<script src="{{ 'js/mobile-menu.js' | relative_url }}" defer></script>
	{% unless page.layout == "easter-egg" %}
	{% include bonus-stage.html %}
	{% endunless %}
	<script src="//gc.zgo.at/count.js" data-goatcounter="https://guilhermeodai.goatcounter.com/count" async></script>

</body>

</html>