---
layout: default
---

<div id="hero">
	<div id="hero-title">
		<div class="titulo-conteudo">
			<h1>Guilherme Almeida<br /><span>UI/UX Designer</span><br /><span>Game Developer</span></h1>
		</div>
	</div>
	<div id="hero-imagery">
		<video autoplay loop muted playsinline>
			<source src="/assets/images/portfolio/sq_post-processing/osaka.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<div id="hero-buttons">
		<div class="buttons-grid">
			<div class="button-fake button-flex">
				<span>&darr;</span>
			</div>
			<div class="button-container button-flex">
				<a class="button-cta" href="{{ '/about/' | relative_url }}"><span>{{ page.button-about | default: 'Missing label'}}</span><span class="arrow">&rarr;</span></a>
			</div>
			<div class="button-container button-flex">
				<a class="button-cta" href="{{ 'https://www.linkedin.com/in/guilherme-odai/' | absolute_url }}" target="_blank" rel="noopener noreferrer">
					<span>{{ page.button-linkedin | default: 'Missing label'}}</span>
					<span class="arrow">&rarr;
						<svg class="icon-linkedin">
							<use href="#icon-linkedin"></use>
						</svg></span>
				</a>
			</div>
		</div>
	</div>
</div>

<main>
	{% if site.portfolio-products and site.portfolio-products.size > 0 %}
	<section id="product-design" class="grid-container secondary">
		<div class="col-4">
			<header class="sticky">
				<h2 class="section-title">{{ page.products-title | default: 'Missing title'}}</h2>
				<p class="section-description">{{ page.products-description | default: 'Missing description'}}</p>
			</header>
		</div>
		{% assign featured = site.portfolio-products | where: "featured", true | sort: "order" %}
		{% assign not_featured = site.portfolio-products | where_exp: "item", "item.featured != true" | sort: "order" %}
		{% assign projects = featured | concat: not_featured %}
		<div class="col-8">
			<div class="sample-portfolio-grid">
				{% for item in projects limit:4 %}
				<article class="portfolio-card">
					<a href="{{ item.url }}" class="portfolio-card-link">
						<div class="portfolio-card-image">
							<img src="{{ item.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ item.title }} preview">
						</div>
						<div class="portfolio-card-info">
							<h3>{{ item.title }}</h3>
							<ul>
								<li><small>Description (Platforms)</small> {{ item.summary-description | default: '—' }}</li>
								<li><small>Role</small> {{ item.summary-role | default: '—' }}</li>
								<li><small>Tools</small> {{ item.summary-tools | default: '—' }}</li>
							</ul>
						</div>
					</a>
				</article>
				{% endfor %}
			</div>
			{% if site.portfolio-products.size > 4 %}
			<div class="accordion-wrapper">
				<div class="button-container">
					<button class="accordion-button"><span>{{ page.products-all | default: 'Missing label'}}</span></button>
				</div>
				<div class="accordion-content" inert>
					<div class="sample-portfolio-grid">
						{% for item in projects offset:2 %}
						<article class="portfolio-card">
							<a href="{{ item.url }}" class="portfolio-card-link">
								<div class="portfolio-card-image">
									<img src="{{ item.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ item.title }} preview">
								</div>
								<div class="portfolio-card-info">
									<h3>{{ item.title }}</h3>
									<ul>
										<li><small>Description</small> {{ item.summary-description | default: '—' }}</li>
										<li><small>Role</small> {{ item.summary-role | default: '—' }}</li>
										<li><small>Tools</small> {{ item.summary-tools | default: '—' }}</li>
									</ul>
								</div>
							</a>
						</article>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}

		</div>
	</section>
	{% endif %}

	{% if site.portfolio-cases and site.portfolio-cases.size > 0 %}
	<section id="case-studies" class="grid-container secondary">
		<div class="col-4">
			<header class="sticky">
				<h2 class="section-title">{{ page.cases-title | default: 'Missing title'}}</h2>
				<p class="section-description">{{ page.cases-description | default: 'Missing description'}}</p>
			</header>
		</div>
		{% assign featured_cases = site.portfolio-cases | where: "featured", true | sort: "order" %}
		{% assign fallback_cases = site.portfolio-cases | sort: "order" %}

		{% if featured_cases.size > 0 %}
		{% assign cases = featured_cases %}
		{% else %}
		{% assign cases = fallback_cases %}
		{% endif %}
		<div class="col-8">
			<div class="sample-portfolio-grid">
				{% for item in cases limit:4 %}
				<article class="portfolio-card">
					<a href="{{ item.url }}" class="portfolio-card-link">
						<div class="portfolio-card-image">
							<img src="{{ item.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ item.title }} preview">
						</div>
						<div class="portfolio-card-info">
							<h3>{{ item.title }}</h3>
							<ul>
								<li><small>Challenge</small> {{ item.card-problem | default: '—' }}</li>
								<li><small>Solution</small> {{ item.card-solution | default: '—' }}</li>
								<li><small>Outcome</small> {{ item.card-outcome | default: '—' }}</li>
							</ul>
						</div>
					</a>
				</article>
				{% endfor %}
			</div>
			{% if site.portfolio-cases.size > 4 %}
			<div class="accordion-wrapper">
				<button class="accordion-button"><span>{{ page.cases-all | default: 'Missing label'}}</span></button>
				<div class="accordion-content" inert>
					<div class="sample-portfolio-grid">
						{% for item in cases offset:2 %}
						<article class="portfolio-card">
							<a href="{{ item.url }}" class="portfolio-card-link">
								<div class="portfolio-card-image">
									<img src="{{ item.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ item.title }} preview">
								</div>
								<div class="portfolio-card-info">
									<h3>{{ item.title }}</h3>
									<ul>
										<li><small>Challenge</small> {{ item.summary-problem | default: '—' }}</li>
										<li><small>Solution</small> {{ item.summary-solution | default: '—' }}</li>
										<li><small>Outcome</small> {{ item.summary-outcome | default: '—' }}</li>
									</ul>
								</div>
							</a>
						</article>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}

		</div>
	</section>
	{% endif %}

	{% if site.portfolio-extras and site.portfolio-extras.size > 0 %}
	<section id="side-quests" class="grid-container secondary">
		<div class="col-4">
			<header class="sticky">
				<h2 class="section-title">{{ page.extras-title | default: 'Missing title'}}</h2>
				<p class="section-description">{{ page.extras-description | default: 'Missing description'}}</p>
			</header>
		</div>
		{% assign featured_extra = site.portfolio-extras | where: "featured", true | sort: "order" %}
		{% assign fallback_extra = site.portfolio-extras | sort: "order" %}

		{% if featured_extra.size > 0 %}
		{% assign extra = featured_extra %}
		{% else %}
		{% assign extra = fallback_extra %}
		{% endif %}
		<div class="col-8">
			<div class="sample-portfolio-grid">
				{% for item in extra limit:4 %}
				<article class="portfolio-card">
					<a href="{{ item.url }}" class="portfolio-card-link">
						<div class="portfolio-card-image">
							{% if item.video %}
							<video autoplay loop muted playsinline class="card-video">
								<source src="{{ item.video }}" type="video/mp4">
								Your browser does not support the video tag.
							</video>
							{% elsif item.image %}
							<img src="{{ item.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ item.title }} preview">
							{% endif %}
						</div>
						<div class="portfolio-card-info">
							<h3>{{ item.title }}</h3>
							<ul>
								<li><small>Description</small> {{ item.summary-description | default: '—' }}</li>
								<li><small>Role</small> {{ item.summary-role | default: '—' }}</li>
								<li><small>Tools</small> {{ item.summary-tools | default: '—' }}</li>
							</ul>
						</div>
					</a>
				</article>
				{% endfor %}
			</div>
			{% if site.portfolio-extras.size > 4 %}
			<div class="accordion-wrapper">
				<button class="accordion-button"><span>{{ page.extras-all | default: 'Missing label'}}</span></button>
				<div class="accordion-content" inert>
					<div class="sample-portfolio-grid">
						{% for item in extra offset:2 %}
						<article class="portfolio-card">
							<a href="{{ item.url }}" class="portfolio-card-link">
								<div class="portfolio-card-image">
									<img src="{{ item.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ item.title }} preview">
								</div>
								<div class="portfolio-card-info">
									<h3>{{ item.title }}</h3>
									<ul>
										<li><small>Description</small> {{ item.summary-description | default: '—' }}</li>
										<li><small>Role</small> {{ item.summary-role | default: '—' }}</li>
										<li><small>Tools</small> {{ item.summary-tools | default: '—' }}</li>
									</ul>
								</div>
							</a>
						</article>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}

		</div>
	</section>
	{% endif %}

	{% if site.posts and site.posts.size > 0 %}
	<section id="articles" class="grid-container secondary">
		<div class="col-4">
			<header class="sticky">
				<h2 class="section-title">{{ page.articles-title | default: 'Missing title'}}</h2>
				<p class="section-description">{{ page.articles-description | default: 'Missing description'}}</p>
			</header>
		</div>
		{% assign blog = site.posts | sort: 'date' | reverse %}
		<div id="blog" class="col-8">
			<div class="sample-blog-grid">
				{% for post in blog limit:2 %}
				<article class="blog-card">
					<a href="{{ post.url }}" class="blog-card-link">
						<div class="blog-card-image">
							<img src="{{ post.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ post.title }} preview">
						</div>
						<div class="blog-card-info">
							<h3>{{ post.title }}</h3>
							<div class="blog-card-date">
								<svg class="icon-calendar">
									<use href="#icon-calendar"></use>
								</svg>
								<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %Y" }}</time>
							</div>
						</div>
					</a>
				</article>
				{% endfor %}
			</div>
			<div class="more">
				<a href="{{ '/articles/' | relative_url }}"><span>{{ page.articles-all | default: 'Missing label'}}</span><span class="arrow">&rarr;</span></a>
			</div>
		</div>
	</section>
	{% endif %}
</main>

{% include home-scripts.html %}