---
layout: default
---

<main>
	<div class="grid-container">
		<article id="project">
			<div class="content">
				<header>
					<h1>{{ page.title }}</h1>
				</header>
				<div class="content-summary">
					<ul>
						<li><small>{{ site.data.i18n[site.active_lang].summary_description }}</small> {{ page.summary-description | default: '—'}}</li>
						<li><small>{{ site.data.i18n[site.active_lang].summary_employer }}</small> {{ page.summary-employer | default: '—'}}</li>
						<li><small>{{ site.data.i18n[site.active_lang].summary_role }}</small> {{ page.summary-role | default: '—'}}</li>
						<li><small>{{ site.data.i18n[site.active_lang].summary_process }}</small> {{ page.summary-process | default: '—'}}</li>
					</ul>
				</div>
				<figure class="content-hero">
					<img class="hero-image" src="{{ page.image | default: '/assets/images/missing-image.svg' | relative_url }}" loading="lazy" alt="{{ page.hero-caption | default: page.title }}">
				</figure>
				<div class="content-body">
					{{ content }}
				</div>
			</div>
		</article>
	</div>
</main>